.jumbotron {
	box-sizing: border-box;
	background: url('../images/jumbotron.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 400px;
}

h1 {
	margin-top: 260px;
	margin-left: -1190px;
	font-family: 'Anton', sans-serif;
}

p {
	text-align: center;

}

.img-right {
	height: 400px;
	width: 700px;
}

.img-wrong {

}

.start-button {
	margin-top: 175px;
	max-width: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.morty {
	font-family: 'Gloria Hallelujah', cursive;

}

.timer-p {
	margin-top: 40px;
}

.answer:hover {
	background: white;
}

.answer {
	padding-top: 7px;
	height: 45px;
	color: blue;
	padding-left: 14px;
	background-color: black;
	border-radius: 4px;
}

.img-wrong {
	margin-top: 40px;
}

.first-answer{
	margin-top: 40px;
}



.reset-button {
	margin-top: 40px;
	font-family: 'Gloria Hallelujah', cursive;

}

.end-game-tally {
	margin-top: 40px;
}

body {
	background-color: grey;
	color: white;
}